In [13]:
import src

ModuleNotFoundError: No module named 'src'

In [2]:
import pandas as pd

In [3]:
f = '/home/jez/Community_Firn_Model_Forked/SpinUp_Sensitivity_Example/CFMinput_example/example_BDOT.csv'
df = pd.read_csv(f).T

In [5]:
df+5

                          0
976.490478515625   0.480081
976.56982421875    0.478008
976.649169921875   0.443909
976.728515625      0.320819
976.807861328125   0.808541
...                     ...
2020.6005859375    0.605190
2020.679931640625  0.399466
2020.75927734375   0.713639
2020.838623046875  0.514341
2020.91796875      0.400200

[13164 rows x 1 columns]

In [12]:
df[:10000].mean()

0    0.230174
dtype: float64

In [8]:
df.mean()

0    0.230322
dtype: float64

In [5]:
120*12/0.23

6260.869565217391

In [7]:
120/0.23

521.7391304347826

522 years needed for spinup.